@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body {
  padding: 33px;
  color: white;
  background: black;
  padding-top: 60px;
}

main {
  width: 300px;
  margin: 0 auto;
}

input, button {
  padding: 5px;
  margin: 10px 0; 
  border-radius: 4px;
}

input {
  width: 100
}

button {
  padding : 5px 20px;
  background: gray;
  transition: transform 0.2s ease-in-out;
  
}

button:hover {
  color: aqua;
  transform: scale(1.1);
}

.captcha-images {
  background: white;
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.captcha-images > div {
  border: 1px solid red;
}

img {
  max-width: 100%;
}